{% extends "main.html" %}
{% load static %}
{% block meta %}
   <meta name="description" content="">
<title>Ooops! 404</title>
{% endblock meta %}
{% block content %}
    <div class="d-flex justify-content-center">
        <img src="{% static 'image/404.png' %}" alt="trash">
    </div>
{% endblock content %}
