{% extends "main.html" %}
{% load static %}
{% block meta %}
<meta name="description" content="{{ meta.description }}">
    <title>{{ meta.title }} </title>
{% endblock meta %}
{% block content %}
    <p>For test e-mail to mikolaz2727@gmail.com - <a href="{% url "send_email" %}">click here</a>  But you need login for it</p>
    <img src="{% static 'image/index.png' %}" alt="My image" class="img-fluid h-25 w-100">

{% endblock content %}
