{% extends "main.html" %}
{% block meta %}
<meta name="description" content="{{ meta.description }}">
    <title>{{ meta.title }} </title>
{% endblock meta %}
{% block content %}
    {% load static %}
            <p>
                {% if user.profile.id %}
               <a class="btn btn-warning" href="{% url 'edit_profile' user.profile.id %}" role="button">Edit profile</a>
                {% endif %}
            </p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>First Name: {{ user.first_name }}</p>
            <p>Email: {{ user.email }} </p>
            <p>Avatar: <img src="{% static user.profile.avatar %}" alt="Avatar" width="100"> </p>
            <p>Birth_date: {{ user.profile.birth_date }} </p>
            <p>Phone number: {{ user.profile.phone_number }} </p>
            <p>Social link: {{ user.profile.social_link }} </p>
            <p>Type person: {{ user.profile.type }} </p>
            <p>City: {{ user.profile.city }} </p>




    <img src="{% static 'image/1.png' %}" alt="My image" class="img-fluid h-25 w-100">
{% endblock content %}