{% extends "main.html" %}
{% block meta %}
<meta name="description" content="{{ meta.description }}">
    <title>{{ meta.title }} </title>
{% endblock meta %}
{% block content %}
    {% load static %}
        <div class="d-flex justify-content-center">
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="First name" >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-success" href="{% url "students:create_student" %}" role="button">Add student</a>
        </div>

    <br>
    <table class="table table-dark table-hover">
    <thead>
    <tr><th scope="col">#</th><th scope="col">Avatar</th>
    <th scope="col">First name</th><th scope="col">Last name</th>
    <th scope="col">Email</th><th scope="col">Birthday</th>
    <th scope="col">Status</th><th scope="col">Grade</th>
    <th scope="col">Resume</th><th scope="col">Group</th>
    <th scope="col">Edit</th><th scope="col">Delete</th></tr>
    </thead>
    <tbody>
    {% for record in obj_from_db %}
    <tr><th scope="row">{{ forloop.counter }}</th><td><img  src="{% static record.avatar %}" height="100"></td><td>{{ record.first_name }}</td><td>{{ record.last_name }}</td>
        <td>{{ record.email }}</td><td>{{ record.birth_date }}</td><td>{{ record.status }}</td><td>{{ record.grade }}</td>
        <td><a class="btn btn-warning" href="{% url "students:get_resume" record.uuid %}" role="button">Resume</a></td>
        <td><a class="btn btn-warning" href="{% url "groups:show_group" record.group_id %}" role="button">Group</a></td>
        <td><a class="btn btn-warning" href="{% url "students:update_student" record.uuid %}" role="button">Edit</a></td>
        <td><a class="btn btn-danger" href="{% url "students:delete_student" record.uuid %}" role="button"><img src="{% static 'image/garbage.png' %}" alt="trash"></a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <img src="{% static 'image/1.png' %}" alt="My image" class="img-fluid h-25 w-100">
{% endblock content %}


