{% extends "main.html" %}
{% block meta %}
<meta name="description" content="{{ meta.description }}">
    <title>{{ meta.title }} </title>
{% endblock meta %}

{% block content %}
    {% load static %}
    <div class="">
        <div class="d-flex justify-content-center">
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="First name" value="{{ value }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
        </div>
    </div>
    {% if obj_from_db %}
    <br>
    <table class="table table-dark table-hover">
    <thead>
    <tr><th scope="col">#</th><th scope="col">Avatar</th>
    <th scope="col">First name</th><th scope="col">Last name</th>
    <th scope="col">Email</th><th scope="col">Birthday</th>
    <th scope="col">Group(s)</th><th scope="col">Edit</th>
    <th scope="col">Delete</th></tr>
    </thead>
   <tbody>
    {% for record in obj_from_db %}

    <tr>
        <th scope="row">{{ forloop.counter }}</th><td><img  src="{% static record.avatar %}" height="100"></td><td>{{ record.first_name }}</td><td>{{ record.last_name }}</td>
        <td>{{ record.email }}</td><td>{{ record.birth_date}}</td>
        <td>

            {% for group in record.groups.all %}

                    <a class="btn btn-outline-info" style="--bs-btn-padding-y: .001rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem" href="{% url "groups:show_group" group.id %}" role="button">Group {{ group.id }}</a></br>

            {% endfor %}

        </td>
        <td><a class="btn btn-warning" href="{% url "teachers:update_teacher" record.id %}" role="button">Edit</a></td>
        <td><a class="btn btn-danger" href="{% url "teachers:delete_teacher" record.id %}" role="button"><img src="{% static 'image/garbage.png' %}" alt="trash"></a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <br><h2> Sorry, but this teacher not found</h2>
    {% endif %}
    <img src="{% static 'image/1.png' %}" alt="My image" class="img-fluid h-25 w-100">
{% endblock content %}


