{% extends "main.html" %}
{% block meta %}
<meta name="description" content="">
    <title>Confirm delete</title>
{% endblock meta %}
{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {{ form }}
    <input type="submit" value="Confirm">
</form>
{% endblock content %}
