{% extends "main.html" %}
{% load static %}
{% block meta %}
<meta name="description" content="{{ meta.description }}">
    <title>{{ meta.title }} </title>
{% endblock meta %}
{% block content %}

        <div class="d-flex justify-content-end">
            <a class="btn btn-success" href="{% url "groups:create_group" %}" role="button">Add group</a>
        </div>

    <br>
    <table class="table table-dark table-hover">
    <thead>
    <tr><th scope="col">#</th><th scope="col">ID</th>
    <th scope="col">Num group</th><th scope="col">Language</th>
    <th scope="col">Start date</th><th scope="col">Finish date</th>
    <th scope="col">Amount student</th>
    <th scope="col">Edit</th><th scope="col">Delete</th></tr>
    </thead>
    <tbody>
    {% for record in obj_from_db %}
    <tr>
        <td>{{ forloop.counter }}</td><td>{{ record.id }}</td><td>{{ record.group_num }}</td><td>{{ record.programm_lang  }}</td>
        <td>{{ record.start_date }}</td><td class="colM">{{ record.end_date}}</td><td>{{ record.amount_student }}</td>
        <td><a class="btn btn-warning" href="{% url "groups:update_group" record.id %}" role="button">Edit</a></td>
        <td><a class="btn btn-danger" href="{% url "groups:delete_group" record.id %}" role="button"><img src="{% static 'image/garbage.png' %}" alt="trash"></a></td>
    </tr>

    {% endfor %}
    </tbody>
    </table>
    <img src="{% static 'image/1.png' %}" alt="My image" class="img-fluid h-25 w-100">
{% endblock content %}


