{% extends "main.html" %}
{% load static %}
{% block meta %}
<meta name="description" content="{{ meta.description }}">
    <title>{{ meta.title }} </title>
{% endblock meta %}
{% block content %}

        <div class="d-flex justify-content-end">
            <a class="btn btn-success" href="{% url "groups:create_group" %}" role="button">Add group</a>
        </div>

    <br>
    <table class="table table-dark table-hover">
    <thead>
    <tr><th scope="col">ID</th>
    <th scope="col">Group number</th><th scope="col">Language</th>
    <th scope="col">Date start course</th><th scope="col">Date finish course</th>
    <th scope="col">Edit</th><th scope="col">Delete</th></tr>
    </thead>
    <tbody>

    <tr>
        <td>{{ group.id }}</td><td>{{ group.group_num }}</td><td>{{ group.programm_lang  }}</td>
        <td>{{ group.start_date }}</td><td class="colM">{{ group.end_date}}</td>
        <td><a class="btn btn-warning" href="{% url "groups:update_group" group.id %}" role="button">Edit</a></td>
        <td><a class="btn btn-danger" href="{% url "groups:delete_group" group.id %}" role="button"><img src="{% static 'image/garbage.png' %}" alt="trash"></a></td>
    </tr>

    </tbody>
    </table>
    <img src="{% static 'image/1.png' %}" alt="My image" class="img-fluid h-25 w-100">
{% endblock content %}


